.underline-animation {
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
    transition: all 0.3s ease;
}

.underline-animation::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #434343;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.underline-animation:hover::after {
    transform: scaleX(1);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #434343;
}

::-webkit-scrollbar-thumb {
  background-color: #FCA503;
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}