{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>WeTour</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon/favicon.ico' %}">
		{% tailwind_css %}
	</head>
	<body {% if background_color %} class="bg-[{{ background_color }}]" {% else %} class="bg-[#434343] {% endif %} scroll-m-0">
		{% block content %}
		This is the default content.
		{% endblock %}
	</body>
</html>
