{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>WeTour</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		{% tailwind_css %}
	</head>
  <nav class="bg-white sticky flex top-0 text-center justify-between p-2 z-50">
        <div class='flex relative mls-10' style="display: flex; justify-content: center; align-items: center;">
          <img class="max-h-[40px] !important" src="{% static 'images/logo.png' %}" alt="logo"/>
        </div>
        <div class='flex justify-between p-4 font-ubuntu font-bold mt-2 text-[#434343] space-x-12'>
            <img src="" alt="" />
            <img src="" alt="" />
            {% if not homepage_T %}<h3 class='sm:mr-4 md:mr-4 lg:mr-6 xl:mr-10 mr-16 underline-animation'><a class="" href="{% url 'home' %}">Trips</a></h3>{% endif %}
            {% if not guide_T %}<h3 class='sm:mr-4 md:mr-4 lg:mr-6 xl:mr-10 mr-16 underline-animation md:block hidden'><a class="" href="{% url 'guide' %}">Become A Tour Guide</a></h3>{% endif %}
            {% if not profile_T %}<h3 class='sm:mr-4 md:mr-4 lg:mr-6 xl:mr-10 mr-16 underline-animation'><a class="" href="{% url 'profile' %}">Profile</a></h3>{% endif %}
            <h3 class='sm:mr-4 md:mr-4 lg:mr-6 xl:mr-10 mr-16 underline-animation sm:block hidden'><a class="" href="{% url 'logout' %}">{{user.username}} | Log Out</a></h3>
        </div>
      </nav>
	<body class="bg-[#434343] scroll-m-0">
		{% block content %}
		This is the default content.
		{% endblock %}
	</body>
</html>
