{% extends 'base_home.html' %}
{% load widget_tweaks %}
{% block content %}
<section class="w-2/3 mx-auto my-10 px-5 py-10 bg-white rounded-lg shadow-lg">
    <div class="w-full p-4"><h1 class="flex font-bold text-black underline text-2xl justify-center">Join Us!</h1></div>
  <form method="post" action="" id="inpform" class="w-full md:w-3/4 lg:w-1/2 mx-auto space-y-6">
    {% csrf_token %}
    <div class="grid grid-cols-2 gap-6">
      <div class="flex flex-col">
        <label for="state" class="font-bold text-gray-800 mb-2">Area of Expertise (State)</label>
        {{ form.state|add_class:"rounded" }}
      </div>
      <div class="flex flex-col">
        <label for="city" class="font-bold text-gray-800 mb-2">Area of Expertise (City)</label>
        {{ form.city|add_class:"rounded" }}
      </div>
      <div class="flex flex-col">
        <label for="gender" class="font-bold text-gray-800 mb-2">Tell Us About Yourself</label>
        <div class="relative">
          {{ form.bio|add_class:"rounded" }}
        </div>
      </div>
  
      <div class="flex flex-col">
        <label for="days" class="font-bold text-gray-800 mb-2">Show Us A Pic!</label>
        {{ form.profile_pic|add_class:"rounded text-l text-[#434343] hover:animate-pulse" }}
      </div>
    </div>
    <div class="">
      <label for="languages" class="font-bold text-gray-800 mb-2">Preferred Languages (Fluent) <span class="text-red-600">(Max: 2)</span></label>
      <div id="language-buttons" class="flex flex-wrap mb-4">
        {% for i in languages %}
          <button class="rounded bg-gray-200 text-gray-800 px-4 py-2 mr-2 my-1 language-button" data-value="{{ i }}">
            {{ i }}
          </button>
        {% endfor %}
      </div>
      <div id="selected-languages" class="mt-4">
        <span class="font-bold text-gray-800 mr-2">Selected Languages:</span>
        <ul id="selected-languages-list"></ul>
      </div>
    </div>
        
      <div class="">
        <label for="qualities" class="font-bold text-gray-800 mb-2">Give Us Your Top Qualities?<span class="text-red-600"> (Max: 5)</span></label>
        <div id="qual-buttons" class="flex flex-wrap mb-4">
          {% for i in qualities %}
            <button class="rounded bg-gray-200 text-gray-800 px-4 py-2 mr-2 my-1 qual-button" data-value="{{ i }}">
              {{ i }}
            </button>
          {% endfor %}
        </div>
        <div id="selected-q" class="mt-4">
          <span class="font-bold text-gray-800 mr-2">Selected Qualities:</span>
          <ul id="selected-q-list"></ul>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center">
    <button class="bg-[#FCA503] text-[#434343] mt-6 font-bold py-2 px-4 rounded hover:bg-yellow-600 focus:outline-none focus:shadow-outline" type="submit">
      Search
    </button>
    </div>
  </form>
</section>


<script>
  const langbutton = document.querySelectorAll('.language-button');
  const qualbutton = document.querySelectorAll('.qual-button');
  const selectedClass = 'bg-blue-500-text-white'; 
  const selectedLanguagesList = document.getElementById('selected-languages-list');
  const selectedQualList = document.getElementById('selected-q-list');
  const languagePool = document.getElementById('language-buttons');
  const qualPool = document.getElementById('qual-buttons');
  const maxLangSelected = 2;
  const maxQualSelected = 5;

  langbutton.forEach(butto => {
    butto.addEventListener('click', () => {
      butto.classList.toggle(selectedClass);
  
      if (butto.classList.contains(selectedClass) && maxLangSelected - selectedLanguagesList.children.length > 0) {
        selectedLanguagesList.appendChild(butto);
      } else {
        const listItem = document.createElement('li');
        listItem.innerText = butto.getAttribute('data-value');
        languagePool.appendChild(butto);
      }
    });
  });

  qualbutton.forEach(butto => {
    butto.addEventListener('click', () => {
      butto.classList.toggle(selectedClass);
  
      if (butto.classList.contains(selectedClass) && maxQualSelected - selectedQualList.children.length > 0) {
        selectedQualList.appendChild(butto);
      } else {
        const listItem = document.createElement('li');
        listItem.innerText = butto.getAttribute('data-value');
        qualPool.appendChild(butto);
      }
    });
  });


  const langButtons = document.querySelectorAll('.language-button');
  const qualButtons = document.querySelectorAll('.qual-button');
  const form = document.querySelector('form');

  langButtons.forEach(button => {
    button.addEventListener('click', event => {
      event.preventDefault();
      // add or remove the button from the selected languages list
    });
  });

  qualButtons.forEach(button => {
    button.addEventListener('click', event => {
      event.preventDefault();
      // add or remove the button from the selected qualities list
    });
  });
</script>

{% endblock %}