{% extends 'base_home.html' %}
{% load static %}
{% block content %}
<section>
    {% if user.trips > 0 %}
    <a href="{% url 'trip' %}" class="fixed md:top-24 md:left-10 z-50 bg-[#FCA503] text-[#434343] font-bold py-2 px-4 rounded-md text-xl">Add Trip</a>
    <h3 class="text-center text-3xl text-white underline p-3 mt-2">Trips</h3>
        {% for trip in user.trips %}
        <div id="card" class="flex my-auto p-5">
            <div class="bg-[#FCA503] mx-auto h-80 w-60 rounded-lg relative">
                <div class="flex bg-white mx-auto h-72 w-56 mt-3 justify-center rounded-lg">
                    
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <h3 class="text-blue-500"></h3>
    <div class="w-1/4 h-96 mx-auto bg-white rounded-2xl">
        <h3 class="text-center text-3xl text-black underline font-bold p-3 mt-20 z-0">No Trips</h3>
        <a href="{% url 'trip' %}" class="w-1/2 mx-auto flex bg-[#FCA503] text-[#434343] font-bold p-6 justify-center mt-8 rounded-md text-2xl text-center">{{ user.phone_number}} Add Trip</a>
    </div>
    {% endif %}
</section>
{% endblock %}
