{% extends 'base_home.html' %}

{% block content %}
<div class="container my-10 p-10 rounded-lg bg-gray-100 text-gray-800 w-1/2 mx-auto">
    <h1 class="text-center mb-12 font-bold text-3xl">Profile Page</h1>
    <form method="post" enctype="multipart/form-data" class="mx-auto max-w-lg">
        {% csrf_token %}
        <div class="grid grid-cols-1 gap-y-6">
            <div class="flex items-center justify-center space-x-6">
                <label for="profile-pic" class="text-xl font-semibold p-4 bg-[#434343] text-[#FCA503] rounded-xl">Upload Picture </label>
                <div class="flex items-center justify-center w-12 h-12 bg-gray-200 rounded-full border-2 border-black">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M6.5 5a2.5 2.5 0 100 5 2.5 2.5 0 000-5zm5 5a5 5 0 11-10 0 5 5 0 0110 0z" clip-rule="evenodd" />
                    </svg>
                </div>
                <input type="file" class="sr-only" id="profile-pic" name="profile_pic">
            </div>
            <div class="grid grid-cols-1 gap-y-2">
                <label for="full-name" class="text-xl font-semibold">Full Name:</label>
                <input type="text" class="px-4 py-2 rounded-md border-gray-400 focus:outline-none focus:ring-2 focus:ring-yellow-500" id="full-name" name="full_name" value="{{ user.full_name }}" required>
            </div>
            <div class="grid grid-cols-1 gap-y-2">
                <label for="phone-number" class="text-xl font-semibold">Phone Number:</label>
                <input type="text" class="px-4 py-2 rounded-md border-gray-400 focus:outline-none focus:ring-2 focus:ring-yellow-500" id="phone-number" name="phone_number" value="{{ user.phone_number }}" required>
            </div>
        </div>
        <div class="mx-auto mt-10">
            <button type="submit" class="inline-flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-yellow-500 hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500">
                Save
            </button>
        </div>
    </form>
</div>
{% endblock %}
``
