{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="flex h-screen overflow-hidden">        
        <div class = "p-5 mt-10 relative w-4/5 mx-auto">
            <div class="absolute top-2 left-2 bg-[#03915E] rounded-xl h-[75%] w-5/6 z-0">     
                <div
                  style="border-width: 30px"
                  class="bg-[#434343] h-full w-full ml-6 mt-6 rounded-xl border-amber-500">
                  <h3 class="text-white p-5 font-bold rounded-lg text-5xl text-center">CREATE ACCOUNT</h3>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="grid grid-cols-2 gap-6">
                            <div class="flex flex-col w-5/6 mx-auto">
                                {{form.first_name|add_class:"rounded"}}
                            </div>
                            <div class="flex flex-col  w-5/6 mx-auto">
                                {{form.last_name|add_class:"rounded"}}
                            </div>
                            <div class="flex flex-col  w-5/6 mx-auto">
                                {{ form.email|add_class:"rounded" }}
                            </div>
                            <div class="flex flex-col  w-5/6 mx-auto">
                                {{ form.username|add_class:"rounded" }}
                            </div>
                            <div class="flex flex-col  w-5/6 mx-auto">
                                {{ form.password1|add_class:"rounded" }}
                            </div>
                            <div class="flex flex-col  w-5/6 mx-auto">                                                    
                                {{ form.password2|add_class:"rounded" }}
                            </div>    
                        </div>
                        <div class="transition-transform duration-300 transform hover:-translate-y-1 hover:scale-105 mx-auto flex-col items-center justify-center mt-10 flex flex-col items-center">
                            
                            {{ p_reg_form.phone_number|add_class:"rounded" }}
                            
                        </div> 
                        
                        <div class="transition-transform duration-300 transform hover:-translate-y-1 hover:scale-105 mx-auto flex-col items-center justify-center mt-10 flex flex-col items-center">
                            
                            <input class=" btn login_btn font-bold text-white px-4 py-2 bg-[#03915E] rounded-lg w-1/2 mx-auto" type="submit" value="submit">
                            
                        </div>                
                    </form>
                </div>

            </div> 
        </div>
    </div>

{% endblock %}